.bisection{
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  
  .bisection h2{
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
  
  }
  
  .calculate-button{
    background-color: #001529;
    
    color: #fff;
    
  }
  
  .calculate-button:hover {
    background-color: rgb(182, 182, 214);
    box-shadow: 0 8px 15px rgb(182, 182, 214);
  }
  
  .calculate-button:active {
    background-color: rgb(182, 182, 214);
    box-shadow: none;
  }
  
  
  .formBisection{
     margin-right: 130px;
     
  }
  
  .bisection Button{
      position: relative;
      left: 15px;
      margin-right: 2px;
      
  }
  
  .ans{
       margin-left:160px;
  }
  
  .input{
     width: 300px;
     margin-right: 100%;
  }
  
  #reset{
     position: relative;
     left: 139px;
  }
  
  .title-topic{
    color: #001529;
  }
  
  .Table Button{
     margin-left: 30px;
  }
  
  .Table{
    
    margin-left: 181px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    
  }